/* html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.auth-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: url("/src/assets/back.jpg") no-repeat center center fixed;
  background-size: cover;
  filter: brightness(50%); /* This darkens only the background image 
}

.auth-inner {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Slight transparency to blend with the background 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
  width: 100%;
  max-width: 400px;
}
 */
body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/back.jpg");
  background-size: cover;
  background-position: center;
}

.auth-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the 0.5 for more or less darkness */
  z-index: 1;
}

.auth-inner {
  position: relative;
  z-index: 2;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.85); /* Adjust the transparency */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group input {
  height: 45px;
  font-size: 16px;
}

.btn-primary {
  height: 45px;
  font-size: 16px;
}

.form-group {
  margin-bottom: 20px;
}

.text-danger {
  margin-top: 15px;
  font-size: 14px;
}
